@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
   
      font-family: "Libre Baskerville", serif;
      font-weight: 700;
      font-style: normal;
    
}
#root{
      background-color: green;
}
.bg-main{
      background-color:#f2e9e4 ;
}
.btn-primary{
      background-color: #335c67;
      border-color: #335c67;
}